@{
    ViewBag.Title = "Sucursales";

}
<h2>@ViewBag.Title.</h2>
<div class="card-header">
    <span><b>Lista de Sucursales</b></span>
    <button class="btn btn-primary btn-sm btn-block col-md-3 float-right" type="button" id="new_emp_btn"><span class="fa fa-plus"></span> Agregar Sucursal</button>
</div>
<table id="table" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id Sucursal</th>
            <th>Sucursal</th>
            <th>Ciudad</th>
        </tr>
    </thead>
    <tbody>
    <th>001</th>
    <th>TOYYODA Central</th>
    <th>San Salvador</th>
    </tbody>
</table>
